.Weather {
    background-color: #282c34;
    min-height: 100vh;
    color: white;
}

.ForecastTable {
    padding-bottom: 20px;
}

.ForecastTableElement {
    display: flex;
    background-color: lightblue;
    margin: 15px;
    border-style: none;
    border-radius: 50px;
    justify-content: space-between;
    color: black;
    font-weight: 500;
}

.Forecast {
    padding: 0.2em;
}

.ForecastIconAndText {
    display: inline-flex;
    align-items: center;
}

.Period {
    font-size: 1.2em;
}

.WeatherIcon {
    vertical-align: middle;
    border-radius: 20px;
    margin-left: 35px;
    margin-right: 1em;
    height: 100px;
    width: auto;
}

.Temperature {
    display: inline-flex;
    align-items: center;
    font-size: xx-large;
    margin-right: 1em;
    white-space: nowrap;
}