.NavBar {
    background: #3c4857;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.NavList {
    display: flex;
    align-items: center;
    list-style: none;
}

.NavElement a{
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: larger;
}